<h1>All Rentals in All Cities</h1>

{{#each model.rentals as |rental|}}
  {{rental-tile rental=rental destroyRental="destroyRental" updateRental="updateRental"}}
{{/each}}

<h1>Cities</h1>
{{#each model.cities as |city|}}
  <li>
    {{#link-to 'city' city.id}}
      {{city.name}}
    {{/link-to}}
  </li>
{{/each}}

{{new-city saveCity="saveCity"}}